html{ min-height: 100%; position: relative }
body{
    min-width: 320px;
    font-size: 0.8rem;
    padding-bottom: 140px;
}
li{
    list-style-type: none !important;
}
a:hover{
    text-decoration:none
}
.btn{
    font-size: 0.8rem;
}

.width-100{
    width: 100%;
}


/*首页按钮平均分布*/
.col-xs-7ths, .col-sm-7ths, .col-md-7ths, .col-lg-7ths {
    position: relative;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
@media ( min-width : 768px) {
    .col-sm-7ths {
        width: 14.2%;
        float: left;
    }
}
@media ( min-width : 992px) {
    .col-md-7ths {
        width: 14.2%;
        float: left;
    }
}
@media ( min-width : 1200px) {
    .col-lg-7ths {
        width: 14.2%;
        float: left;
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0247ac;
}

/*页码*/
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
/*页码*/
/*重写圆角 end*/

.top-bg{
    background: url("../images/top_bg.jpg") center center;
    background-size:contain;
}

.top-bg-img{
    background: url("../images/top_content.png") center no-repeat;
    height: 100px;
    background-size: 100% auto;
}

.nva-active{
    background-color: #0247ac;
}
.nva-active a{
    color: #fff !important;
}
.nav-color{
    color: #484848 !important;
}

.dropdown .dropdown-menu{
    width: 100%;
    min-width: 100%;
    font-size: 0.8rem;
    text-align: center;
    border-radius:0px;
    margin: 0 0 2px 0;
    padding: 0px;
    border: 0px;
    background-color: #fff;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}

.dropdown:hover .dropdown-menu a{
    color: #484848 !important;
}

.dropdown .dropdown-menu a{
    padding: 8px 0px;
}

.dropdown .dropdown-menu a:hover{
    color: #fff !important;
    background-color: #0247ac;
}

.navbar-nav .dropdown-menu{
    position: relative;
}

.content-font-size{
    font-size: 0.88rem;
    line-height: 2.4rem;
    text-indent: 1.9rem;
    color: #484848;
}

.title-top-boder{
    font-size: 1.2rem;
    border-top: 3px solid #0247ac;
    font-weight: bold;
    padding-top: 1px;
}
.small-color{
    color: #a6a6a6;
}

.more{
    color: #484848;
    border: 1px solid #000;
}
.more:hover{
    color: #484848;
    border: 1px solid #000;
}

.more1-lg{
    position: absolute;
    bottom: 0;
}

.customer{
    margin:0;
}

.customer-content{
    margin-right: 4%;
}

.customer-text{
    height: 100%;
    padding-right: 15px;
    display: none;
    text-align: center;
    background-color: #7b7b7b;
    background-color:rgba(0,0,0,0.1);
    color: #fff;
    position: absolute;
    top: 0;
}
.customer-text .city,.title{
    font-size: 1rem;
}
.customer-text .content{
    font-size: 0.85rem;
}

.customer-text .more{
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.8rem;
}
.customer-text .more:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #7b7b7b;
    background-color:rgba(0,0,0,0.1);
}

.home-customer .card{
    border:none;
}
.home-customer .card:hover .customer-text{
    display: inline-block;
}
.achievement .achievement-content:hover .customer-text{
    display: inline-block;
}


.home-new-lists{
    border: none;
}

.news-list{
    font-size: 0.85rem;
    color: #232323;
    background-color: #fff;
    border: 0;
}
.news-list:hover{
    color: #fff;
    background-color: #0247ac;
}

.nav-item .news-list{
    padding: 0.8rem 0;
}

footer{
    width: 100%;
    background-color: #000;
    font-size: 0.8rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 140px;
}

/*首页-业务范围*/

.home-business{
    text-decoration: none;
    color:inherit;
    text-align: center;
}
.home-business .card-title{
    margin-bottom: 0px;
}
.home-business:hover{
    color: #989898;
}

/*首页-我们的服务*/

.home-achievement{
    text-align: center;
}

.home-achievement .row a:hover h6, .home-achievement .row a:hover .introduction{
    color: #989898 !important;
}

.home-achievement .title{
    color: #484848;
}
.home-achievement .introduction{
    font-size: 12px;
    color: #484848;
    padding-bottom: 6px;
}


/*内页*/
.breadcrumb-bg{
    background-color: #eee;
}

.breadcrumb-bg ol{
    padding-left: 0;
}
.breadcrumb-text li a{
    color: #484848;
}

.breadcrumb-text li:last-child{
    color: #989898;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: '>';
}

.pagination{
    font-size: 0.8rem;
}
.pag-big{
    position: relative;
    left: 50%;
}
.page-item{
    color: #484848;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-left: 0.5rem;
}
.page-item a{
    color: #484848;
}
.page-item span{
    color: #484848;
}

.pagination .active span{
    background-color: #eee !important;
    border-color: #dcdcdc !important;
    color: #484848 !important;
}

.pagination .active a{
    background-color: #eee !important;
    border-color: #dcdcdc !important;
    color: #484848 !important;
}
.pagination a:hover{
    background-color: #eee !important;
    border-color: #dcdcdc !important;
    color: #484848 !important;
}
.pagination. .disabled{
    color: #989898;
}


/*新闻中心*/
.new-category a{
    background-color: #F5F5F5;
    color: #232323;
}
.new-category .active{
    background-color: #0247ac;
    color: #fff;
}
.new-category a:hover{
    background-color: #0247ac;
    color: #fff !important;
}
.new-list{
    background-color: #f5f5f5;
}
.new-list .list-group a{
    background-color: #fff !important;
    color: #484848 !important;
    font-size: 0.85rem;
    border-color: #eee !important;
}
.new-list .list-group a:hover{
    color: #989898 !important;
}
.news-list-text{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    color: #484848 !important;
}
.news-list-text:hover{
    color: #666666 !important;
}

/*新闻内页 start*/

.new-show h4{
    color: #484848;
}
.new-show .created_at{
    font-size: 0.8rem;
    color: #989898;
}
.new-show .new-content {
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: #484848;
    text-indent:2em
}
.new-show .new-content img{
    max-width: 100%;
    margin: 0 auto;
}

/*行业案例列表页*/

.customer-list h6, .customer-list p{
    color: #484848;
}
.customer-list a:hover h6,.customer-list a:hover p {
    color: #989898;
}


/*地图*/

.baidu-maps label {
    max-width: none;
}


.new-content img{
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 0 30px #ccc;
    -moz-box-shadow: 0 0 30px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    margin-bottom: 30px;
    margin-top: 10px;
}






