
.width-100{
    width: 100%;
}
.top-bg{
    background: url("../images/top_bg.jpg") no-repeat center center;
    background-size:contain;
}

.nva-active{
    background-color: #0247ac;
}
.nva-active a{
    color: #fff !important;
}

.content-font-size{
    font-size: 0.88rem;
    line-height: 2.4rem;
    text-indent: 1.9rem;
    color: #484848;
}

.title-top-boder{
    font-size: 1.2rem;
    border-top: 3px solid #0247ac;
    font-weight: bold;
}
.small-color{
    color: #a6a6a6;
}

.more{
    color: #484848;
    border: 1px solid #000;
}
.more:hover{
    color: #484848;
    border: 1px solid #000;
}

.more1-lg{
    position: absolute;
    bottom: 0;
}

.customer{
    margin:0;
}

.customer-content{
    margin-right: 4%;
}

.customer-text{
    width: 100%;
    height: 100%;
    background-color: #7b7b7b;
    background-color:rgba(0,0,0,0.2);
    color: #fff;
    position: absolute;
    top: 0;
}
.customer-text .city,.title{
    font-size: 1.4rem;
}
.customer-text .content{
    font-size: 0.85rem;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(xs) {
        column-count: 1;
      }
  }